@import url(https://use.fontawesome.com/releases/v5.1.0/css/all.css);

#searchBar {
  border: none;
  vertical-align: middle;
  &:hover,
  &:active,
  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}
